/* $Id$ */
#plone-browser {
    position: absolute;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    padding: 0 !important;
    z-index: 1000;
    font-size: 12px;
    font-family: Arial, Helvetica, Geneva, sans-serif;
}

#plone-browser .overlay {
  background-color: #AAA;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;  
}

#plone-browser .window {
  position: absolute;
}

#plone-browser table.columns {
  margin: 0;
  border: none;
  border-collapse: collapse;
  font-size : 12px;
  clear: both;
  width: 100%;
}

#plone-browser td.column {
  vertical-align: top;
  text-align: left;
  border: none;
  padding: 0;
}

#plone-browser td.column > div {
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;
  border-radius : 5px;
}

#column-1 {
  width: 222px;
}

#column-3 {
  width: 272px;
  display: none;
  padding-right: 2px;
}

#plone-browser .window {
  left: 100px; top: 100px;
  width: 450px;
}

#plone-browser-tab {
  position:absolute;
  left: 31px;
  top: -22px;
  height: 25px;
  padding: 5px 44px 0 0px;
  cursor: move;
  background: transparent url(./window_tab_bg.png) top right no-repeat;
}

#plone-browser-border-top {
  position:absolute;
  left: 0;
  width: 100%;
  top: 5px;
  height: 22px;
  background: transparent url(./window_border_top.png) top left repeat-x;
}


#plone-browser-corner-left {
  position:absolute;
  left:0;
  height:22px;
  width:31px;
  background: transparent url(./window_corner_left.png) top left no-repeat;
}


#plone-browser-corner-resize {
  position:absolute;
  top: 100%;
  left: 100%;
  margin-top: -15px;
  margin-left: -15px;
  width: 15px;
  height: 15px;
  cursor: se-resize;
  background: transparent url(./window_resize.png) bottom right no-repeat;
}


#plone-browser-border-top,
#plone-browser-corner-left {
 top: -22px;
}


#plone-browser div.browserRelativize {
  position:relative;
  width: 100%;
  top:0;
  left:0;
  margin:0;
  padding:0;
  background: white ;
}

#plone-browser-menu {
  padding: 2px 12px 5px 12px;
  height: 25px;
  margin:0;
  margin-bottom: 2px;
  clear: both;
}

#browser-crumbs {
  margin: 0 1em 2px 1em;
  height: 2em;
  padding: 2px;
  line-height: 22px;
  float: left;
}

#plone-browser-body {
  /* shown in js to avoid bad resize effects */
  visibility : hidden;
  background-color: #e5f6ff;
  margin: 0 10px;
  padding:5px;
  overflow:auto;
  border: 1px solid #011e57;
}

#box-edit-browser-menu {
  background: transparent url(./menu_browser.png) center left no-repeat;
  padding: 2px 0 2px 19px;
}

#plone-browser-tab-menu {
  white-space: nowrap;
  background: transparent url(./menu_browser.png) center left no-repeat;
  padding: 2px 0 3px 19px;
  margin-top: -2px;
  color:#011e57;
  font-size: 90%;
  font-weight: bold;
}

#plone-browser-body .floatContainer {
  border: none;
  margin: 0;
  padding:0;
  float: left;
  width: 120px;
  height: 145px;
  font-size: 11px;
  background:none;
  background-color:transparent;
}



.floatContainer a {
  display: block;
  border: 1px solid #e5f6ff;
  margin: 2px 2px 0 0;
  padding:2px;
  text-align: center;
  text-decoration: none;
  width:110px;
  height:130px;
  overflow: hidden;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

.divicon {
  width: 23px;
  padding: 0 !important;
  height: 23px;
  overflow: hidden;
  display: block !important;
}

.floatContainer .fileContainer .divicon,
.floatContainer .linkContainer .divicon {
  margin-top:30px;
  margin-bottom:20px;
  margin-left: 42px;
}

.browsableicon {
  background: transparent url(./folders-plus.png) top left no-repeat;
}

.floatContainer .fileFolder .divicon,
.floatContainer .imageFolder .divicon {
  margin-top:25px;
  margin-left:25px;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter:alpha(opacity=80);  
}

.floatContainer .fileFolder .browsableicon,
.floatContainer .imageFolder .browsableicon {
  display: none !important;
}

.contenttype-file {
  background-repeat: no-repeat;
  background-position: center center;
}

.floatContainer a:hover .title{
  text-decoration: underline;
}

.floatContainer a:hover{
  border: 1px solid #021b4b;
  background-color: #FFFFFF;
}

.floatContainer.portrait img {
  padding:0;
  margin: 7px 0 0;
  border:none;
}

.floatContainer.landscape img {
  padding:0;
  margin-top:15px;
  margin-bottom: 3px;
  border:none;
}

.floatContainer .title {
  width:100%;
  padding-top:5px;
  text-align:center;
  cursor: pointer !important;
  white-space: nowrap;
  margin-bottom: 2px;
}

.floatContainer .legend {
  font-size:9px;
  font-style:italic;
}

.floatContainer .folder_icon_gif {
  display:none;
}

.relContainer {
  clear:both;
  margin-top: -138px;
  left: 50px;
  position: relative;
  border: 1px solid #AAAAAA;
  background: #FFFFFF url(./loupe.png) top left no-repeat;
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter:alpha(opacity=80);
  height: 17px;
  width: 16px;
  overflow:hidden;
  z-index:1500;
}

.landscape .relContainer{
  margin-top: -125px;
}

.folder .relContainer {
  background: transparent url(./link_folder.png) top left no-repeat;
  margin-top : -55px;
}

a.loupe,
a.loupe:hover,
a.folderSelect,
a.folderSelect:hover {
  background-color:transparent !important;
  border:none !important;
  display:block;
  padding-left: 15px;
  line-height: 17px;
  height:auto;
  width: auto;
  text-decoration: none;
  z-index:1500;
}


.floatContainer .linkFolder,
.floatContainer .fileFolder,
.floatContainer .imageFolder {
  width: 110px;
  height: 100px;
  cursor: pointer;
  background: transparent url(./folder_image.png) center no-repeat;
  overflow: hidden;
}

.floatContainer a.imageContainer{
  display: block;
  border: 1px solid #e5f6ff;
  margin: 2px 2px 0 0;
  padding:2px;
  text-align: center;
  text-decoration: none;
  width:110px;
  height:130px;
  overflow: hidden;
}

.floatContainer a.imageContainer:hover .title{
  text-decoration: underline;
  cursor: pointer;
}

.floatContainer a.imageContainer:hover{
  border: 1px solid #021b4b;
  background-color: #FFFFFF;
}

.floatContainer div.portrait img {
  padding:0;
  margin:0;
  border:none;
}

.floatContainer div.landscape img {
  padding:0;
  margin-top:15px;
  margin-bottom:15px;
  border:none;
}

.floatContainer .visualClear {
  display: none !important;
}

.listContainer {
  background-color: transparent !important;
  clear: left;
  padding: 2px;
  position: relative;
}

#sortheaders {
  background-color: #e0e4ff !important;
  height: 12px;
  overflow: hidden;
}

#sortheaders .sorton {
  border-right: 3px solid white;
}

#sortheaders .sorton a {
  cursor: pointer;
  width : 7px;
  height: 10px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('./sort0.png');
  display: block;
  margin: 1px 0 0 5px;
}

#sortheaders .sorton a.selected {
  background-image: url('./sort1.png');
}

.reverseheaders .sorton a.selected {
  background-image: url('./sort2.png') !important;
}

#sortheaders .sortontype {
  width: 20px;
}

#sortheaders .sortontitle {
  width: 250px;
}

#sortheaders .sortonsize {
  width: 67px;
}

#sortheaders .sortoncreated {
  width: 170px;
}


.listContainer .linkFolder,
.listContainer .fileFolder,
.listContainer .imageFolder {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.listContainer img {
  width: 16px !important;
  height: 16px !important;
  cursor: pointer;
  padding: 1px 3px;
}

.listContainer .title {
  line-height: 1.5em;
  cursor: pointer;
  width: 250px;
  padding-left: 5px;
}

.listContainer .scopetitle {
  font-weight: bold;
}

#plone-browser-body .listContainer * {
  float: left;
}

.listContainer .divicon {
  position: relative;
  top: -3px;
  /* overload bad icon padding from plone4 styles */
  padding-left: 0 !important;
}

.listContainer a {
  text-decoration: none;
}

.listContainer .visualClear {
  float: none !important;
}

.listContainer .legend {
  float: left;
  line-height: 20px;
}

.listContainer .lsize {
  width: 70px;
}

.listContainer .lcreated {
  width: 170px;
}

.floatContainer .lcreated {
  display: none;
}

.listContainer a:hover {
  background-color: #FFFFFF;
}

.listContainer a:hover .title {
  text-decoration: underline;
}

.listContainer .relContainer {
  display: block;
  border: none !important;
  background-color: transparent !important;
  z-index:20;
  position: absolute;
  top: 3px;
  left: -1px;
  margin: 0 !important;
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter:alpha(opacity=100);  
  background: transparent !important;
  width: 22px;
}

*html .listContainer .relContainer {
  margin-left: 0 !important; 
  padding-left: 14px !important;
}

.listContainer .relContainer a { 
  background: transparent url(./link_folder_out.png) top left no-repeat !important;
  width: 22px;
  position: absolute;
  left: 0;
}

.listContainer .relContainer a:hover { 
  background-image: url(./link_folder_hover.png) !important;
  margin-top:1px;
}

.portrait_icon .relContainer,
.landscape_icon .relContainer,
.portrait_icon .relContainer a,
.landscape_icon .relContainer a {
  display: none !important;
}

a.blacklisted {
  background-color: #E0E4FF;
}

#plone-browser input {
  border-color: #BABABA;
  font-size: 90%;
  padding: 1px 2px 1px 2px;
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  border-radius:3px 3px 3px 3px;
}

#plone-browser input.searchBrowserButton {
  background: transparent url(./search_icon.gif) 2px 1px no-repeat;
  cursor: pointer;
  padding-left: 15px;
  position: relative;
  top: -2px;
}

#plone-browser select {
  border-color: #BABABA;
  line-height: 1.2em;
  font-size: 90%;
}

a.folderUp {
  line-height: 18px;
  font-size:13px;
  padding-left: 13px;
  background: transparent url(./folder_up.png) top left no-repeat;
  text-decoration: none;
  margin-right: 3px;
  float: left;
}

.scopeIcon {
  float: left;
}

#plone-browser-body .floatContainer {
  border: none;
  margin: 0;
  padding:0;
  float: left;
  width: 120px;
  height: 145px;
  font-size: 11px;
  background:none;
  background-color:transparent;
}

#plone-browser-menu .closeWindow, 
#plone-browser-menu .maximize {
  float: right;
  display:block;
  width:  18px;
  height: 18px;
}
#plone-browser-menu .closeWindow {
  background: transparent url(./close_icon.gif) 50% 50% no-repeat;
}
#plone-browser-menu .maximize {
  background: transparent url(./maximize.gif) 50% 50% no-repeat;
  margin-left: 30px;
}

#menuViews a,
#menuActions a {
  text-decoration:none;
  display: block;
  float:  right;
  height: 18px;
  margin: 0 2px;
  color: #666;
}

#menuViews a {
  border: 1px solid #FFF;
  width:  18px;
}

#menuActions a {
  border: 1px solid #E0E4FF;
  padding-left: 20px;
}
#menuActions a span {
  line-height: 18px;
  font-size: 11px;
  margin-right: 2px;
}

#menuViews a.selected,
#menuActions a.selected {
  border: 1px solid #011e57;
  color: #011e57
}
#menuViews a:hover,
#menuActions a:hover {
  border: 1px solid #8cacbb;
  color: #011e57;
}

a.fileView {
  background: transparent url(./browser_pres_files.png) top left no-repeat;
  margin-left :20px !important;
}

a.imageView {
  background: transparent url(./browser_pres_images.png) top left no-repeat;
}

a.uploadView {
  background: transparent url(./browser_upload.png) top left no-repeat;
}

a.addFolderView {
  background: transparent url(./browser_newfolder.png) top left no-repeat;
}

#searchBrowserBox {
  float: left;
  padding-right: 15px;
  padding-top: 2px;
}

.statusBar {
  padding: 7px 12px;
  height: 30px;
  line-height: 20px;
}


#msg-loading {
  padding-left: 22px;
  font-weight:bold;
  background: transparent url(./small_loading.gif) top left no-repeat;
}

#msg-loading,
#msg-done {
  height:19px;
  display: none;
  font-weight:bold;
}

#msg-done {
  -moz-border-radius:3px 3px 3px 3px;
  -webkit-border-radius:3px 3px 3px 3px;
  border-radius:3px 3px 3px 3px;
  background-color:#777;
  color:white;
  display:none;
  height:18px;
  padding:2px;
  text-align:center;
  width:121px;
}

#start-refresh {
  display:none;
}

/* specific styles for popup */
.popup #plone-browser-corner-resize,
.popup #plone-browser-border-top,
.popup #plone-browser-corner-left,
.popup #plone-browser-tab,
.popup #plone-browser-menu .maximize {
    display: none;
}

.popup #plone-browser-menu {
   padding-top: 1em;
}

.popup .window {
   position:static !important;
   width: auto !important;
}

.popup #plone-browser-body {
   background-color: white !important;
}

.popup .browserStatic {
   position: static;
   height: 100%;
   background-color: #e0e4ff;
}

.popup .listContainer a {
   display: block !important;
   cursor: pointer !important;
}

.popup a:hover {
   color: #011e57 !important;
}

.popup .closeWindow {
  margin-left: 30px !important;
}

#plone-browser .listingBar {
  clear: both;
  float: right;
  background-color: transparent;
  border: none;
  padding: 0 5px; 
  position: relative;
  top: -8px;
  font-size: 10px !important;
}

#plone-browser .listingBar #listing-pages {
  float: right;
}

#plone-browser .listingBar a {
  border: 1px solid #CCCCCC;
  display: inline-block;
  padding:0.25em 0.5em;
}

#plone-browser .listingBar span.current {
  border: 1px solid #555;
  display: inline-block;
  padding:0.25em 0.5em;
  background-color: #555;
  color: white !important;
}

#plone-browser .listingBar a:hover {
  background-color: #555;
  color: white !important;
  border-color: #555;
}

#plone-browser .listingBar .previous {
  float: right;
  padding: 0 !important;
  margin: 3px 0 0 30px;
  background: transparent url(./prev-bg.gif) top left no-repeat;
}

#plone-browser .listingBar .previous-off {
  background: transparent url(./prev-off-bg.gif) top left no-repeat !important;
  height:13px;
  width:13px;
}

#plone-browser .listingBar .next {
  float: right;
  padding: 0 !important;
  margin: 3px 10px 0 2px;
  background: transparent url(./next-bg.gif) top left no-repeat !important;
}

#plone-browser .listingBar .next-off {
  background: transparent url(./next-off-bg.gif) top left no-repeat !important;
  height:13px;
  width:13px;
}

#plone-browser .listingBar .next a, 
#plone-browser .listingBar .previous a {
  display:block;
  height:13px;
  padding:0;
  width:13px;
  border: none !important;
}

#plone-browser .listingBar .next a:hover,
#plone-browser .listingBar .previous a:hover {
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
}

#choose-size {
    float:right;
    font-size:10px;
    margin-right:8px;
    margin-left: 30px;
}

/* left navigation */


#plone-browser-navigation {
  /* shown in js to avoid bad resize effects */
  visibility : hidden;
  border: 1px solid #011e57;
  background-color: white;
  margin: 0 0 0 12px;
  padding: 5px;
  width: 200px;
  overflow: auto;
}

#plone-browser-navigation .listContainer .title {
  width: auto !important;
}

.retrait {
  margin-left: 5px;
}

#plone-browser-navigation a:hover,
#plone-browser-navigation a:hover .title {
  color: #011E57 !important;
  text-decoration: none !important;
}

#plone-browser-navigation .navitem {
   border: none;
   padding: 0 3px 0 10px;
   background: transparent url('./navitem-bg.png') 0px 2px no-repeat;
}

#plone-browser-navigation .currentnode,
#plone-browser-navigation .currentitem {
   background: transparent url('./navitem-selected-bg.png') 0px 2px no-repeat;
   border: none !important;
   font-weight: bold;
}

/* right-panel used for upload / create folder / view details */

#right-panel {
  width: 250px;
  padding: 5px;
  border: 1px solid #011e57;
  background-color: white;
  overflow: auto;
  margin: 0 10px 0 0;
}

/* create folder form */

#finder-newfolder {
  padding: 0 5px;
}

#finder-newfolder form {
  margin-top: 10px;
}

#label_create_new_folder {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

#finder-newfolder .field,
#finder-newfolder .formControls {
  clear: both;
  padding: 5px 0;
}

#finder-newfolder .field label {
  margin-right: 10px;
  float: left;
}

#finder-newfolder .field label,
#finder-newfolder .field input,
#finder-newfolder .field textarea {
  font-weight: normal;
  font-size: 90%
}

#finder-newfolder #folder-title,
#finder-newfolder #folder-description {
  width: 130px;
  display: block;
  float: right;
}

#finder-newfolder .formControls {
  padding-right:11px;
  text-align:right;
}

#finder-newfolder .formControls input {
  cursor: pointer;
  text-align: center;
}

/* action menus */
.floatContainer .actionsMenusRelContainer {
    position: relative;
    left: 102px;
    top: -13px;
    width: 11px;
    height: 8px;
    overflow: visible;
}

.landscape .actionsMenusRelContainer {
    top: -26px;
}

.listContainer .actionsMenusRelContainer {
    position: relative;
    float: left;
    width: 11px;
    height: 8px;
    overflow: visible;
    top: 6px;
    left:0;
}

.listContainer .actionsMenusRelContainer * {
    float:none !important;
}

a.actionMenusButton {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url('./action_menu_button_bg.png') top left no-repeat;
    width: 11px;
    height: 10px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    margin:0;
    padding: 0;
}

.actionsMenusRelContainer a.selected {
    background: transparent url('./action_menu_button_selected_bg.png') top left no-repeat;
}

.finderActionMenuContainer {
    display: none;
    position: absolute;
    z-index: 2000;
    top: -30px;
    left: -10px;
}

.finderActionMenu {
    margin: 0 0 0 27px;
    padding: 0;
    list-style: none outside none;
    width: 120px;
    padding: 2px;
    background-color: white;
    border-width: 1px ;
    border-style: solid;
    border-color: #888 #CCC #CCC #888;
    font-size: 11px;
}

.finderActionMenuHeader {
    background-color: #888;
    color: white;
    padding: 2px;
}

.finderActionMenu li {
    display: block;
    margin: 0 !important;
}

.finderActionMenu .finderActionMenuItem a {
    width: auto;
    height: auto;
    border: none !important;
    text-decoration: none;
    margin:0;
    padding: 2px;
    text-align: left;
}

.finderActionMenu .finderActionMenuItem a:hover {
    border: none !important;
}

h4.pannelHeader {
  background-color:#81A7C2;
  color:white;
  margin:0;
  padding:0;
  font-weight: normal;
  text-align:center;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius:  5px 5px 0 0;
  border-radius :  5px 5px 0 0;
}
