/* @group Core content type sprites */

.contenttype-document {
	background: no-repeat transparent 3px 4px url(./contenttypes-sprite.png);
}
.contenttype-event {
	background: no-repeat transparent 3px -62px url('./contenttypes-sprite.png');
}
.contenttype-file {
	background: no-repeat transparent 3px -128px url('./contenttypes-sprite.png');
}
.contenttype-folder,
.contenttype-large-plone-folder {
	background: no-repeat transparent 3px -194px url('./contenttypes-sprite.png');
}
.contenttype-image {
	background: no-repeat transparent 3px -260px url('./contenttypes-sprite.png');
}
.contenttype-link {
	background: no-repeat transparent 3px -326px url('./contenttypes-sprite.png');
}
.contenttype-news-item {
	background: no-repeat transparent 3px -392px url('./contenttypes-sprite.png');
}
.contenttype-plone-site {	
	background: no-repeat transparent 3px -456px url('./contenttypes-sprite.png');
}
.contenttype-topic {
	background: no-repeat transparent 3px -524px url('./contenttypes-sprite.png');
}

.contenttype-document,
.contenttype-event,
.contenttype-file,
.contenttype-folder,
.contenttype-large-plone-folder,
.contenttype-image,
.contenttype-link,
.contenttype-news-item,
.contenttype-plone-site,
.contenttype-topic {
	line-height: 2em;
	padding-left: 23px !important;
}
/* @end */
